os
datetime
fileinput
webbrowser
speech_recognition
pyttsx3
requests
bs4
pyautogui
Modules.Volume
random
email.mime
itertools
socket 
flask 
more_itertools 
time
cProfile
wikipedia 
smtplib
pyjokes  
imp
time                                                                         
subprocess                                                                                                                                       
winshell
ctypes
tkinter import
cv2
smtplib
pyowm
pickle
googleapiclient.discovery 
google_auth_oauthlib.flow 
google.auth.transport.requests